.kpb-headline {
  text-align: center; }

.kpb-headline--textAlignLeft {
  text-align: left; }

.kpb-headline--textAlignRight {
  text-align: right; }

.kpb-headline h1, .kpb-headline h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1; }

.kpb-headline h3 {
  margin: 10px 0px 0px 0px;
  line-height: 1; }
